/*.myheader {
    color: yellow;
    background-color: rgb(4, 37, 41);
 }
 

 body {
  background-color: rgb(4, 37, 41);
  color: rgb(238, 238, 183);
 }

 span {
    color: yellow;
    font-family: sans-serif;
 }*/